# Variables

## string

In [ ]:
mi_nombre_es = 'llulai\'s lecture'

In [ ]:
tu_nombre_es = "llulai's lecture"

### String Methods
https://docs.python.org/3/library/stdtypes.html#string-methods

In [ ]:
texto = "sobre que cosa quieres el texto"

#### capitalize

In [ ]:
texto = texto.capitalize()

In [ ]:
texto

substring

In [ ]:
texto

#### startswith

In [ ]:
texto.startswith('Sobre quef adfa')

#### endswith

In [ ]:
texto.endswith('text')

#### find

In [ ]:
texto.find('e', 5)

#### format

In [ ]:
edad = 25

if edad >= 18:
    madurez = 'mayor'
else:
    madurez = 'menor'

'la persona es {} de edad'.format(madurez)

In [ ]:
'{} y {}'.format(3, 2)

In [ ]:
'{1} y {0} y tambien {0}'.format(3, 2)

In [ ]:
'{nombre} - {apellido}'.format(nombre='julio', apellido='quintana')

#### upper

In [ ]:
texto.upper()

#### lower

In [ ]:
texto.lower()

#### replace

In [ ]:
texto.replace('Sobre', 'no se')

#### split

In [ ]:
texto.split()

In [ ]:
texto.split('e')

#### strip

In [ ]:
'   jlkajdflak . ljkakjfla   '.strip()

## int

In [ ]:
num = 5

## float

In [ ]:
num = 5.1

### Numeric Operations
https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

In [ ]:
a = 15
b = 7

#### suma

In [ ]:
a + b

#### resta

In [ ]:
a - b

#### multiplicacion

In [ ]:
a * b

#### division

In [ ]:
a / b

#### division entera

In [ ]:
a // b

#### resto

In [ ]:
a % b

#### absoluto

In [ ]:
abs(b - a)

#### divmod

In [ ]:
divmod(a, b)

#### transformar a int

In [ ]:
int(1.5)

### transformar a float

In [ ]:
float(10)

In [ ]:
10 * 1.0

#### potencias

In [ ]:
a ** 2

In [ ]:
pow(a, 2)

#### math module

In [ ]:
import math

In [ ]:
math.pi

In [ ]:
from math import pi, ceil

In [ ]:
from math import *

In [ ]:
dir(m)

In [ ]:
import math as m

In [ ]:
m.pi

## list

In [ ]:
lista = [1, 2.4, "holi", 4, 5]

In [ ]:
lista[3] = 100

In [ ]:
lista

## tuple

In [ ]:
tupla = (1, 2, 3, 4, 5)

In [ ]:
tupla[3] = 500

### Sequence Operations
https://docs.python.org/3/library/stdtypes.html#common-sequence-operations

In [1]:
lista = [3, 4, 2, 5, 6, 1, 2, 4, 6, 3]

#### in

In [2]:
1 in lista

True

In [3]:
9 in lista

False

#### not in

In [4]:
5 not in lista

False

#### extraer elemento - s\[i\]

In [5]:
lista[3]

5

#### extraer secuencia - s\[i:j\]

In [6]:
lista[3:5]

[5, 6]

#### extraer secuencia con salto -  s\[i:j:k\]

In [7]:
lista[0: 5: 2]

[3, 2, 6]

#### len

In [8]:
len(lista)

10

#### min

In [9]:
min(lista)

1

#### max

In [10]:
max(lista)

6

#### sum

In [11]:
sum(lista)

36

In [15]:
sum([True, False, True, True])

3

#### s.index(x)

In [17]:
lista

[3, 4, 2, 5, 6, 1, 2, 4, 6, 3]

In [18]:
lista.index(6)

4

#### s.count(x)

In [22]:
lista.count(8)

0

## Operaciones de Secuencias Mutables
https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types

#### cambiar valor de elemento -  s[i] = x

In [23]:
lista[0] = 5
lista

[5, 4, 2, 5, 6, 1, 2, 4, 6, 3]

#### cambiar valor de una parte de la secuencia -  s[i:j] = t

In [24]:
lista[3:5] = [4, 5]
lista

[5, 4, 2, 4, 5, 1, 2, 4, 6, 3]

#### agregar elemento - s.append(x)

In [25]:
lista.append(7)

In [26]:
lista

[5, 4, 2, 4, 5, 1, 2, 4, 6, 3, 7]

#### eliminar elemento - s.pop()

In [35]:
ultimo_numero = lista.pop()

In [36]:
lista

[5, 4, 2, 4, 5, 1, 2]

In [37]:
ultimo_numero

4

#### remover elemento - s.remove(x)

In [42]:
lista.remove(2)

In [44]:
set(lista)

{2, 4, 5}

## set

In [45]:
continentes = {'america', 'europa', 'oceania', 'asia', 'africa', 'antartica'}

### Set Operations
https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset
#### union

In [46]:
a = {1, 2, 3}
b = {3, 4, 5}

In [47]:
a | b

{1, 2, 3, 4, 5}

#### intersection

In [48]:
a & b

{3}

In [49]:
a - b

{1, 2}

In [50]:
b - a

{4, 5}

#### issubset

In [52]:
{3, 4}.issubset(b)

True

## bool

In [53]:
es_estados_unidos_america = False
es_chile_colo_colo = True

### Boolean Operations
https://docs.python.org/3/library/stdtypes.html#boolean-operations-and-or-not
#### or

In [54]:
True or False

True

In [62]:
cond = None

In [63]:
cond = cond or 5

In [64]:
cond

5

#### and

In [55]:
True and False

False

#### not

In [65]:
not True

False

#### <

In [66]:
5 < 9

True

#### <=

#### >

#### >=

#### ==

#### !=

# Control Flow

## if

In [69]:
el_colo_pierde = False

if el_colo_pierde:
    print('el waton llora')

## else

In [72]:
la_u_pierde = False

if la_u_pierde:
    print('el blas llora')
else:
    print('el blas no llora')

el blas no llora

## elif

In [76]:
valor = 4

if valor < 3:
    print('poco')
elif valor < 5:
    print("mas o menos")
elif valor < 9:
    print('casi harto')
else:
    print("harto")

mas o menos

## for

In [84]:
nombres = ['julio', 'felipe', 'blas']

for v in nombres:
    print("hola {nombre}".format(nombre=v))

hola julio
hola felipe
hola blas

## range

In [86]:
list(range(3))

[0, 1, 2]

## dict

In [87]:
paises = {
    'chile': 'santiago',
    'brasil': 'sao paulo'
}

In [88]:
paises['chile']

'santiago'

### Mapping Operations
https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

In [89]:
capitales = {
    'chile': 'santiago',
    'brasil': 'sao paulo',
    'argentina': 'buenos aires'
}

#### len

In [90]:
len(capitales)

3

#### access key - d\[key\]

In [92]:
capitales['argentina']

'buenos aires'

#### assign value - d\[key\] = x

In [93]:
capitales['usa'] = 'washington'

In [94]:
capitales

{'chile': 'santiago',
 'brasil': 'sao paulo',
 'argentina': 'buenos aires',
 'usa': 'washington'}

#### eliminar elemento - del d\[key\]

In [95]:
del capitales['usa']

In [97]:
capitales

{'chile': 'santiago', 'brasil': 'sao paulo', 'argentina': 'buenos aires'}

#### verificar si tiene elemento - key in d

In [98]:
'chile' in capitales

True

#### obtener elementos - d.items()

In [100]:
for key, val in capitales.items():
    print(f"la capital de {key} es {val}")

la capital de chile es santiago
la capital de brasil es sao paulo
la capital de argentina es buenos aires

#### obtener llaves - d.keys()

In [101]:
capitales.keys()

dict_keys(['chile', 'brasil', 'argentina'])

#### obtener valores - d.values()

In [102]:
capitales.values()

dict_values(['santiago', 'sao paulo', 'buenos aires'])

# Funciones

In [106]:
def sumar(a, b=5):
    return a + b

In [109]:
sumar(3, 6)

9

# Tarea - Built in functions
## all
## any
## enumerate
## reversed
## sorted
## zip

# Ejercicios
https://www.hackerrank.com